@font-face {
  font-family: "Li Opu ANSI V2";
  src: url("fonts/Li Opu ANSI V2.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Li Opu ANSI V2", "Lexend Deca", "poppins";
    font-style: normal;
  }


  .course-text {
    font-family: 'Li Opu ANSI V2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100.8%;
    color: #727272;
  }
  .sub-text {
    font-family: 'Li Opu ANSI V2';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
  }
  .title {
    font-family: 'Li Opu ANSI V2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-left: 5px;
    color: #000000;
  }
  .sub-title {
    font-size: 11px;
  }
  .course-title {
    font-family: 'Lexend Deca';
    width: 163px;
    height: 28px;
    background: #3CACAE;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFEFE;
    padding-top: 4px;
  }
  .more-title {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 167.3%;
    color: #03254C;
  }
  .course-btn{
    width: 100%;
    height: 42px;
    background: #780070;
    border-radius: 5px;
    font-family: 'Li Opu ANSI V2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 182.8%;
    color: #FFFEFE;
    border-color: transparent;
  }
  .card-width{
    width: auto;
  }
  .aro-dekho {
    text-decoration: none;
  }

  @media (max-width: 1399.98px) {
    .course-btn{
      font-size: 90%;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }
  @media (max-width: 1199.98px) {
    html{
      font-size: 80%;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }

  @media (max-width: 991.98px) {
    html{
      font-size: 75%;

    }
    .card-width{
      width: 18rem;

    }
   }

   @media (max-width: 767.98px) {
    .card-width{
      width: 20rem;
    }
   }
   @media (max-width: 575.98px) {
    .card-width {
      margin-left: 25px;
      width: 90%;
    }
    .container {
      width: 90%;
    }
    }


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .mx-7{
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
    /*.cardOne{*/
    /*    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);*/
    /*}*/
}

@media only screen and (min-width: 768px) and (max-width: 1150px) {
    .blog-video{
        height: 120px !important;
    }
}
