@extends('backend.master')

@section('title', 'Title')


<link rel="stylesheet" href="{{ URL::asset('css/custom/pathname') }}">

@section('content')

<div class="br-mainpanel">

      <div class="br-pagetitle">
        <i class="fa-duotone fa-screen-users"></i>
        <div>
          <h4>View All Class</h4>
          <p class="mg-b-0">All Class Details Here</p>
        </div>
      </div><!-- d-flex -->


        <div class="p-5">

            <div class="br-section-wrapper">

            </div>


        </div>



</div>
@stop
