html , body{
    overflow-x: hidden !important;
}

.active_sidebar {
    font-weight: bold;
    color: #fff !important;
}


.br-pagetitle i {
    font-size: 40px !important;
}


.ck.ck-editor__editable_inline>:last-child {
    min-height: 300px !important;
}


.br-pagetitle {
    margin: 0 auto !important;
    display: block !important;
    width: 50%;
    text-align: center;
    margin-top: -60px !important;
    margin-bottom: 25px !important;
}
