
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #5f617d !important;
}
.user-box{
    height: auto;
    width: 500px;
    position: absolute;
    background: rgb(2, 2, 53);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    margin:20px 0;
}

.user-box img{
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    margin-top: -25px;
}
.form-group{
    color: #fff;
}

.form-group label{
    margin-top: 10px;
    font-size: 13px;
}

.form-group input{
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
    font-size: 13px;
    color: #fff;
    border-bottom: 1px solid #feffff;
}

input:-webkit-autofill{
    -webkit-text-fill-color: none !important;
}
.form-group input:focus{
    border: none !important;
    outline: none !important;
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff;
    border-bottom: 1px solid #fff !important;
}
.btn{
    margin-top: 20px;
    background: #fff;
    padding: 8px 0;
    width: 100%;
}

.btn:hover{
    background: #fff;
    padding: 8px 0;
    width: 100%;
    color: black;
}



center{
    margin-top: 8px;
    font-size: 15px;
}
center a{
    text-decoration: none;
    color: #fff;
}
center a:hover{
    color: #fff;
}

input {
    padding: 0px !important;
}


@media only screen and (max-width: 650px) {
    .user-box {
        width: 100%;
        margin-top: 77px;
    }
}
