.br-section-wrapper .col-md-6 .manageData{
    font-size: 20px;
    margin-bottom: 10px;
}

.teacherPp {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #0000009c;
    margin-bottom: 30px;
}
